# Dependency Directories
/node_modules

# Dependency lock files
package-lock.json

# Compiled Output
dist/**

# Testing
/coverage

# Environment Variables
.env.development
.env.testing
.env.production

# Editor-specific files
.vscode/
